.blogs{
    text-align: center;
}
.blogs__h2{
    font: italic normal 900 30px/40px Playfair Display;
    color:$color-eerie-black;

}
.blogs__p{
    font: normal normal 300 16px/21px Roboto;
    color:$color-ruddy-pink;
}
