.blogs{
    text-align: center;
}
.blogs__h2{
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 800;
    font-style: italic;
    margin-top: 17px;
}
.blogs__p{
    font: 900 ;
    color:$color-ruddy-pink;
    font-family: roboto;
}
