.information__container{
    padding: 0 50px 0 50px;
}
.information__description{
    padding: 0 50px 0 50px;
    font: normal normal normal 16px/21px Playfair Display;
}
.information__title{
    padding: 47px 50px 47px 50px;
    font: normal normal 300 16px/40px Roboto;
}